spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/bookmarks
    username: bms_serviceuser
    password: UCz46Remt17nnsCD
  security:
    user:
      name: admin
      password: password

  jpa:
    generate-ddl: true
    hibernate:
      #ddl-auto: create-drop
      ddl-auto: update

management:
  endpoints:
    web:
      base-path: /manage
      exposure:
        include:
          - health
  endpoint:
    health:
      show-details: always

jwt:
  secret: mysupersecurekey12345678901234567890
  refresh-token-expiration-ms: 8035200000 # 3 months
  auth-token-expiration-ms: 1209600000  #2 weeks

spring.jpa.show-sql: true
properties.hibernate.format_sql: true
logging.level.org.hibernate.SQL: DEBUG
logging.level.org.hibernate.type.descriptor.sql: TRACE